body {
  background-color: hsl(0, 0%, 8%);
  font-size: 14px;
}

.card {
  font-family: "Inter";
  margin: 5% auto;
  border: 2px solid black;
  width: 400px;
  border-radius: 10px;
  color: white;
  background-color: hsl(0, 0%, 12%);
  box-sizing: border-box;
}

.profile-photo {
  width: 150px;
  border-radius: 50%;
  margin: 30px auto;
  display: block;
}

.general-information > div {
  text-align: center;
}

.name {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 7px;
}

.ubication {
  color: hsl(75, 94%, 57%);
  font-weight: 700;
}

.description {
  margin: 20px auto;
}

.button {
  padding: 10px;
  margin: 15px 40px;
  height: 30px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  text-align: center;
  align-content: center;
  font-weight: 700;
}

.button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
